<%= form_with(url: category_path(@category), method: :get, class: "mb-8") do %>
  <div>
    <h2 class="text-xl font-bold mb-4">Filter by</h2>
    <div class="mb-4">
      <label for="filter" class="block text-lg font-medium mb-2">Sort by:</label>
      <select name="filter" id="filter" class="shadow rounded-md border border-gray-400 outline-none px-3 py-2 w-full">
        <option value="">Default (All)</option>
        <option value="price_asc" <%= "selected" if params[:filter] == "price_asc" %>>Price Low to High</option>
        <option value="price_desc" <%= "selected" if params[:filter] == "price_desc" %>>Price High to Low</option>
        <option value="newness" <%= "selected" if params[:filter] == "newness" %>>Newness (Newly Added)</option>
      </select>
    </div>
    <%= submit_tag 'Apply', class: "bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded w-full" %>
  </div>
<% end %>