<div class="w-full bg-white py-8">
  <div class="flex flex-col items-center mb-6">
    <h2 class="text-sm font-medium text-gray-600 mb-1">Discover the latest</h2>
    <h2 class="text-3xl font-bold">Trending Now</h2>
  </div>

  <% if @products.any? %>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6 px-8 mb-12">
      <% @products.order(created_at: :desc).limit(4).each do |product| %>
        <div class="bg-gray-100 shadow-lg rounded-lg p-4">
          <h2 class="text-gray-800 font-medium text-lg text-center mb-4"><%= product.name %></h2>
          <div class="h-80 w-full flex items-center justify-center bg-white rounded-lg overflow-hidden">
            <%= product.images.first.present? ? image_tag(product.images.first, class: "h-full w-auto") : image_tag("https://via.placeholder.com/512", class: "h-full w-auto") %>
          </div>
          <p class="text-center mt-4">BDT <%= product.price %></p>
          <div class="text-center mt-4 flex justify-center items-center space-x-2">
            <%= link_to 'View Details', product_path(product), class: "bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded", data: {turbo: false} %>

            <% if product.stocks.sum(:amount) > 0 %>
              <%= button_to add_item_wishlist_path(product_id: product.id), method: :post, class: "bg-pink-400 hover:bg-pink-600 text-white font-bold py-2 px-4 rounded" do %>
                <%= icon 'fa-solid', 'heart' %>
              <% end %>
            <% else %>
              <button class="bg-gray-500 text-white font-bold py-2 px-4 rounded" disabled>Out of Stock</button>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="min-h-screen flex flex-col w-full justify-center mt-8 items-center gap-10">
      <div class="flex justify-center">
        <h1 class="text-2xl font-semibold">Ooops :(</h1>
      </div>
      <div class="flex justify-center">
        <p class="text-3xl font-bold">No products found</p>
      </div>
    </div>
  <% end %>
</div>


<div class="mb-12"></div>
<%= render 'shared/wrapper' %>
