<body class="bg-gray-100">
<div class="flex">
  <!-- Sidebar for categories -->
  <div class="fixed top-30 left-12 h-auto w-64 bg-gray-300 p-6 shadow-lg z-20 rounded">
    <h2 class="text-xl font-bold mb-4">All Categories</h2>
    <ul class="space-y-4">
      <% @main_categories.each do |category| %>
        <li>
          <%= link_to category_path(category), class: "flex items-center p-2 hover:bg-gray-500 rounded" do %>
            <% if category.image.present? %>
              <%= image_tag(category.image, class: "w-10 h-10 object-cover  mr-4") %>
            <% else %>
              <%= image_tag("https://via.placeholder.com/40", class: "w-10 h-10 object-cover rounded-full mr-2") %>
            <% end %>
            <span><%= category.name %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="flex-1 ml-56">
    <div class="w-full text-white p-8 flex items-center transition-all duration-300 rounded-lg cursor-pointer filter justify-center mb-8" style="height: 46vh; background-image: url(<%= asset_path('h1.jpg') %>); background-repeat: no-repeat; background-position: center; background-color: #d1d5db; background-size: cover; background-blend-mode: multiply;">
      <div class="text-center p-5 rounded">
        <h1 class="text-5xl mt-5 font-bold">Welcome to Thrift Basket</h1>
        <p class="text-xl mb-8">Start shopping</p>
        <%= link_to "Browse Collection", products_path, class: "bg-gray-500 hover:bg-gray-600 text-white font-bold py-2 px-4 rounded" %>
      </div>
    </div>

    <div class="container mx-auto mt-6">
      <h2 class="flex justify-center text-2xl font-bold mb-6">Top Categories</h2>
      <div class="flex flex-wrap gap-4 justify-center">
        <% @main_categories.each do |category| %>
          <%= link_to category_path(category), class: "flex flex-col items-center gap-2 p-6 bg-gray-300 hover:bg-gray-200 rounded-md w-48" do %>
            <%= category.image.present? ? image_tag(category.image, class: "w-32 h-32 object-cover rounded") : image_tag("https://via.placeholder.com/150", class: "w-32 h-32 object-cover rounded") %>
            <span class="font-semibold text-gray-800 text-center"><%= category.name %></span>
          <% end %>
        <% end %>
      </div>
    </div>

    <div>
      <%= render 'shared/wrapper' %>
    </div>
  </div>
</div>
</body>
