<!-- app/views/devise/sessions/new.html.erb -->
<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-bold text-gray-900">Log in</h2>
    </div>
    <% if flash[:alert] %>
      <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert" id="alert-box">
        <span class="block sm:inline"><%= flash[:alert] %></span>
        <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
          <svg class="fill-current h-6 w-6 text-red-500" role="button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" onclick="closeAlert()" id="close-btn"><title>Close</title><path d="M14.348 5.652a1 1 0 00-1.414 0L10 8.586 7.066 5.652a1 1 0 10-1.414 1.414L8.586 10l-2.934 2.934a1 1 0 101.414 1.414L10 11.414l2.934 2.934a1 1 0 001.414-1.414L11.414 10l2.934-2.934a1 1 0 000-1.414z"/></svg>
        </span>
      </div>
    <% end %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "mt-8 space-y-6" }) do |f| %>
      <div class="rounded-md shadow-sm space-y-6">
        <div class="mb-4 relative">
          <%= f.label :email, class: "sr-only" %>
          <%= f.email_field :email, autofocus: true, class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Email" %>
        </div>

        <div class="mb-4 relative">
          <%= f.label :password, class: "sr-only" %>
          <%= f.password_field :password, autocomplete: "current-password", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm", placeholder: "Password" %>
          <button type="button" class="absolute inset-y-0 right-0 pr-3 flex items-center text-sm leading-5" onclick="togglePasswordVisibility('password')">
            <i class="far fa-eye text-gray-500" id="togglePasswordIcon"></i>
          </button>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <%= f.submit "Log in", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>
      <div class="mt-2 text-center">
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</div>

<script>
    function togglePasswordVisibility(id) {
        const passwordField = document.getElementById(id);
        const toggleIcon = id === 'password' ? document.getElementById('togglePasswordIcon') : document.getElementById('togglePasswordConfirmIcon');
        const passwordFieldType = passwordField.getAttribute('type');
        if (passwordFieldType === 'password') {
            passwordField.setAttribute('type', 'text');
            toggleIcon.classList.remove('fa-eye');
            toggleIcon.classList.add('fa-eye-slash');
        } else {
            passwordField.setAttribute('type', 'password');
            toggleIcon.classList.remove('fa-eye-slash');
            toggleIcon.classList.add('fa-eye');
        }
    }

    function closeAlert() {
        const alertBox = document.getElementById('alert-box');
        alertBox.style.display = 'none';
    }
</script>
