<h1 >Write a Review for <%= @product.name %></h1>

<div class="min-h-screen flex items-center justify-center  bg-gray-100">
  <%= form_with model: [@product, @review], local: true do |form| %>
    <div class="mb-4 rounded-md shadow-sm space-y-px">
      <%= form.label :rating, class: "block text-gray-700 font-bold mb-2" %>
      <%= form.select :rating, options_for_select(1..5), {}, class: "form-select mt-1 block w-full" %>
    </div>

    <div class="mb-4 w-full ">
      <%= form.label :comment, class: "block text-gray-700 font-bold mb-2 rounded w-full" %>
      <%= form.text_area :comment, class: "form-textarea mt-1 block w-full" %>
    </div>

    <div class="mt-4">
      <%= form.submit "Submit Review", class: "bg-pink-500 hover:bg-pink-200 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>
</div>
